In [25]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
os.chdir('C:\\Users\\KIIT\\Downloads')
df = pd.read_csv('International sale Report.csv')

# Display the first few rows of the dataset
df.head()

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00

In [ ]:
#1. Do Data Cleaning for the given dataset.
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce', dayfirst=True)

missing_dates = df[df['DATE'].isnull()]
print(f"Rows with missing or invalid dates after conversion: {missing_dates.shape[0]}")

df = df.dropna(subset=['DATE'])

df.head()

In [ ]:
# Convert 'GROSS AMT', 'PCS', and 'RATE' columns to numeric (forcing any non-numeric values to NaN)
df['GROSS AMT'] = pd.to_numeric(df['GROSS AMT'], errors='coerce')
df['PCS'] = pd.to_numeric(df['PCS'], errors='coerce')
df['RATE'] = pd.to_numeric(df['RATE'], errors='coerce')

# Drop rows where any of these columns have NaN values
df = df.dropna(subset=['GROSS AMT', 'PCS', 'RATE'])

# Verify the data types to ensure they are numeric
print(df[['GROSS AMT', 'PCS', 'RATE']].dtypes)

In [ ]:
# 1. Data Cleaning
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce', dayfirst=True)
print(f"Rows with missing dates: {df['DATE'].isnull().sum()}")
df = df.dropna(subset=['DATE'])
df['GROSS AMT'] = pd.to_numeric(df['GROSS AMT'], errors='coerce')
df['PCS'] = pd.to_numeric(df['PCS'], errors='coerce')
df['RATE'] = pd.to_numeric(df['RATE'], errors='coerce')
df = df.dropna(subset=['GROSS AMT', 'PCS', 'RATE'])
print(df.dtypes)

# 2. Which customer has generated the highest total sales?
customer_sales = df.groupby('CUSTOMER')['GROSS AMT'].sum().reset_index().sort_values(by='GROSS AMT', ascending=False)
plt.figure(figsize=(10,6))
sns.barplot(x='GROSS AMT', y='CUSTOMER', data=customer_sales)
plt.title('Total Sales by Customer')
plt.xlabel('Gross Amount')
plt.ylabel('Customer')
plt.show()

# 3. What are the top-selling product styles (Style/SKU)?
sku_sales = df.groupby('SKU')['GROSS AMT'].sum().reset_index().sort_values(by='GROSS AMT', ascending=False)
plt.figure(figsize=(10,6))
sns.barplot(x='GROSS AMT', y='SKU', data=sku_sales)
plt.title('Top-Selling Product Styles (SKUs)')
plt.xlabel('Gross Amount')
plt.ylabel('SKU')
plt.show()

# 4. How do sales vary across different product sizes (e.g., L, XL, XXL)?
size_sales = df.groupby('Size')['GROSS AMT'].sum().reset_index().sort_values(by='GROSS AMT', ascending=False)
plt.figure(figsize=(10,6))
sns.barplot(x='GROSS AMT', y='Size', data=size_sales)
plt.title('Sales by Product Size')
plt.xlabel('Gross Amount')
plt.ylabel('Size')
plt.show()

# 5. What is the average sales value per transaction?
average_sales = df['GROSS AMT'].mean()
print(f'Average sales value per transaction: {average_sales:.2f}')

# 6. Which month had the highest total sales?
df['Month-Year'] = df['DATE'].dt.to_period('M')
monthly_sales = df.groupby('Month-Year')['GROSS AMT'].sum().reset_index()
plt.figure(figsize=(10, 6))
sns.lineplot(x='Month-Year', y='GROSS AMT', data=monthly_sales, marker='o')
plt.title('Total Sales per Month')
plt.xlabel('Month-Year')
plt.ylabel('Gross Amount')
plt.xticks(rotation=45)
plt.show()

# 7. Are there trends in sales over time (monthly or quarterly)?
df['Quarter'] = df['DATE'].dt.to_period('Q')
quarterly_sales = df.groupby('Quarter')['GROSS AMT'].sum().reset_index()
plt.figure(figsize=(10,6))
sns.lineplot(x='Quarter', y='GROSS AMT', data=quarterly_sales, marker='o')
plt.title('Total Sales by Quarter')
plt.xlabel('Quarter')
plt.ylabel('Gross Amount')
plt.xticks(rotation=45)
plt.show()

# 8. What is the total number of pieces sold per month?
monthly_pcs = df.groupby('Month-Year')['PCS'].sum().reset_index()
plt.figure(figsize=(10,6))
sns.lineplot(x='Month-Year', y='PCS', data=monthly_pcs, marker='o')
plt.title('Total Pieces Sold per Month')
plt.xlabel('Month-Year')
plt.ylabel('Number of Pieces Sold')
plt.xticks(rotation=45)
plt.show()

# 9. Which SKU has the highest rate (price per unit) on average?
sku_rate = df.groupby('SKU')['RATE'].mean().reset_index().sort_values(by='RATE', ascending=False)
plt.figure(figsize=(10,6))
sns.barplot(x='RATE', y='SKU', data=sku_rate)
plt.title('Average Rate by SKU')
plt.xlabel('Rate')
plt.ylabel('SKU')
plt.show()

# 10. Is there a relationship between the number of pieces sold (PCS) and the gross amount?
plt.figure(figsize=(10,6))
sns.scatterplot(x='PCS', y='GROSS AMT', data=df)
plt.title('Relationship Between Pieces Sold and Gross Amount')
plt.xlabel('Number of Pieces Sold')
plt.ylabel('Gross Amount')
plt.show()